@import controllers.Forms.AppreciationForm
@(aFormSingle: Form[AppreciationForm.Single], uniList: List[(String, String)], moduleList: List[(String, String)])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, pageTitle: String = "Anerkennung einzelner Studienleistungen", flash: Flash)

<div class="row">
    <div class="col-lg-12">
            <!-- Breadcrumb navigation -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Startseite</a></li>
                <li class="breadcrumb-item active" aria-current="page">@pageTitle</li>
            </ol>
        </nav>

            <!-- Page content -->
        <h1 class="mt">@pageTitle</h1>

        <br>
        @if(!flash.isEmpty) {
            <div class="alert alert-dismissible fade show" id="alert" role="alert">
                @if(flash.get("error")) {
                    <script>document.getElementById("alert").classList.add("alert-danger")</script>
                } else if(flash.get("success")){
                <script>document.getElementById("alert").classList.add("alert-success")</script>
                }
                @{
                    if(flash.get("error")) {
                        flash.get("error")
                    } else if(flash.get("success")) {
                        flash.get("success")
                    }
                }
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        }
        @helper.form(action = routes.HomeController.appreciationSinglePost(), Symbol("enctype") -> "multipart/form-data") {
            @helper.CSRF.formField
            <div class="form-row">
                @helper.inputText(aFormSingle("firstName"),
                    Symbol("_class") -> "form-group col-md-6",
                    Symbol("class") -> "form-control",
                    Symbol("_showConstraints") -> false,
                    Symbol("_label") -> "Vorname",
                    Symbol("placeholder") -> "Vorname",
                    Symbol("required") -> "")
                @helper.inputText(aFormSingle("lastName"),
                    Symbol("_class") -> "form-group col-md-6",
                    Symbol("class") -> "form-control",
                    Symbol("_showConstraints") -> false,
                    Symbol("_label") -> "Nachname",
                    Symbol("placeholder") -> "Nachname",
                    Symbol("required") -> "")
                @helper.inputText(aFormSingle("matrNr"),
                    Symbol("_class") -> "form-group col-md-2",
                    Symbol("class") -> "form-control",
                    Symbol("_showConstraints") -> false,
                    Symbol("_label") -> "Matrikelnummer",
                    Symbol("placeholder") -> "Matrikelnr.",
                    Symbol("type") -> "number",
                    Symbol("min") -> "100000",
                    Symbol("max") -> "999999",
                    Symbol("required") -> "")
                @helper.inputText(aFormSingle("email"),
                    Symbol("_class") -> "form-group col-md-5",
                    Symbol("class") -> "form-control",
                    Symbol("_showConstraints") -> false,
                    Symbol("type") -> "email",
                    Symbol("_label") -> "Email",
                    Symbol("placeholder") -> "Email",
                    Symbol("required") -> "")
                @helper.select(aFormSingle("university"), uniList,
                    Symbol("_class") -> "form-group col-md-5",
                    Symbol("class") -> "form-control",
                    Symbol("_label") -> "Bildungseinrichtung",
                    Symbol("_showConstraints") -> false,
                    Symbol("required") -> "")
                <div class="form-group col-md-12">
                    <label>Notenkonto</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Hochladen</span>
                        </div>
                        <div class="custom-file">
                            @helper.inputFile(aFormSingle("gradeFile"),
                                Symbol("class") -> "custom-file-input",
                                Symbol("_showConstraints") -> false,
                                Symbol("_label") -> "",
                                Symbol("accept") -> ".pdf",
                                Symbol("required") -> "")
                            <label class="custom-file-label">Datei auswählen</label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cardHolder">
                <div class="card text-white bg-dark mb-3 align-middle">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">Neues Modul</div>
                            <div class="col">
                                <button id="removeModule" type="button" class="btn btn-danger float-right"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @helper.select(aFormSingle("modules[0].moduleName"), moduleList,
                            Symbol("_class") -> "form-group",
                            Symbol("class") -> "form-control",
                            Symbol("_showConstraints") -> false,
                            Symbol("_label") -> "Modul",
                            Symbol("required") -> "")
                        <div class="form-group">
                            <label>Modulbeschreibung</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Hochladen</span>
                                </div>
                                <div class="custom-file">
                                    @helper.inputFile(aFormSingle("modules[0].fileDescription"),
                                        Symbol("class") -> "custom-file-input",
                                        Symbol("_showConstraints") -> false,
                                        Symbol("_label") -> "",
                                        Symbol("accept") -> ".pdf",
                                        Symbol("required") -> "")
                                    <label class="custom-file-label">Datei auswählen</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="addModule" class="btn btn-success btn-block">Modul hinzufügen</button>
            <br>
            <button type="submit" class="btn btn-primary">Antrag absenden</button>
        }

        <script>
                $('#addModule').on("click", function () {
                    var cardHolder = $("#cardHolder");
                    var card = document.createElement("div")
                    card.classList = "card text-white bg-dark mb-3 align-middle"
                    card.innerHTML = `<div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">Neues Modul</div>
                            <div class="col">
                                <button id="removeModule" type="button" class="btn btn-danger float-right"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @helper.select(aFormSingle("modules[1].moduleName"), moduleList,
                            Symbol("_class") -> "form-group",
                            Symbol("class") -> "form-control",
                            Symbol("_showConstraints") -> false,
                            Symbol("_label") -> "Modul",
                            Symbol("required") -> "")
                        <div class="form-group">
                            <label>Modulbeschreibung</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Hochladen</span>
                                </div>
                                <div class="custom-file">
                                    @helper.inputFile(aFormSingle("modules[1].moduleDescription"),
                                        Symbol("class") -> "custom-file-input",
                                        Symbol("_showConstraints") -> false,
                                        Symbol("_label") -> "",
                                        Symbol("accept") -> ".pdf",
                                        Symbol("required") -> "")
                                    <label class="custom-file-label">Datei auswählen</label>
                                </div>
                            </div>
                        </div>
                    </div>`;
                    cardHolder.append(card);
                });

                $('body').on("click", 'button#removeModule', function (event) {
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    if ($("button#removeModule").length > 1) {
                        $(this).parent().parent().parent().parent().remove();
                    }
                });
        </script>
    </div>
</div>