@import controllers.Forms.AppreciationForm
@(aFormAll: Form[AppreciationForm.All], uniList: List[(String, String)])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, pageTitle: String = "Wechsel in neue Prüfungsordnung", flash: Flash)

<div class="row">
    <div class="col-lg-12">
            <!-- Breadcrumb navigation -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Startseite</a></li>
                <li class="breadcrumb-item active" aria-current="page">@pageTitle</li>
            </ol>
        </nav>

            <!-- Page content -->
        <h1 class="mt">@pageTitle</h1>

        <br>
        @if(!flash.isEmpty) {
            <div class="alert alert-dismissible fade show" id="alert" role="alert">
                @if(flash.get("error")) {
                    <script>document.getElementById("alert").classList.add("alert-danger")</script>
                } else if(flash.get("success")){
                <script>document.getElementById("alert").classList.add("alert-success")</script>
                }
                @{
                    if(flash.get("error")) {
                        flash.get("error")
                    } else if(flash.get("success")) {
                        flash.get("success")
                    }
                }
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        }
        @helper.form(action = routes.HomeController.appreciationAllPost(), Symbol("enctype") -> "multipart/form-data") {
            @helper.CSRF.formField
            <div class="form-row">
                @helper.inputText(aFormAll("firstName"),
                    Symbol("_class") -> "form-group col-md-6",
                    Symbol("class") -> "form-control",
                    Symbol("_showConstraints") -> false,
                    Symbol("_label") -> "Vorname",
                    Symbol("placeholder") -> "Vorname",
                    Symbol("required") -> "")
                @helper.inputText(aFormAll("lastName"),
                    Symbol("_class") -> "form-group col-md-6",
                    Symbol("class") -> "form-control",
                    Symbol("_showConstraints") -> false,
                    Symbol("_label") -> "Nachname",
                    Symbol("placeholder") -> "Nachname",
                    Symbol("required") -> "")
            </div>
            <div class="form-row">
                @helper.inputText(aFormAll("matrNr"),
                    Symbol("_class") -> "form-group col-md-2",
                    Symbol("class") -> "form-control",
                    Symbol("_showConstraints") -> false,
                    Symbol("_label") -> "Matrikelnummer",
                    Symbol("placeholder") -> "Matrikelnr.",
                    Symbol("type") -> "number",
                    Symbol("min") -> "100000",
                    Symbol("max") -> "999999",
                    Symbol("required") -> "")
                @helper.inputText(aFormAll("email"),
                    Symbol("_class") -> "form-group col-md-5",
                    Symbol("class") -> "form-control",
                    Symbol("_showConstraints") -> false,
                    Symbol("type") -> "email",
                    Symbol("_label") -> "Email",
                    Symbol("placeholder") -> "Email",
                    Symbol("required") -> "")
                @helper.select(aFormAll("university"), Seq(("Hochschule Flensburg", "Hochschule Flensburg")),
                    Symbol("_class") -> "form-group col-md-5",
                    Symbol("class") -> "form-control",
                    Symbol("_showConstraints") -> false,
                    Symbol("_label") -> "Hochschule/Uni",
                    Symbol("required") -> "")
                <div class="form-group col-md-12">
                    <label>Notenkonto</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            @helper.inputFile(aFormAll("gradeFile"),
                                Symbol("class") -> "custom-file-input",
                                Symbol("_showConstraints") -> false,
                                Symbol("_label") -> "",
                                Symbol("accept") -> ".pdf",
                                Symbol("required") -> "")
                            <label class="custom-file-label">Datei auswählen</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Antrag absenden</button>
        }
    </div>
</div>