@(pageTitle: String = "Anerkennung beim Wechsel in neue Prüfungsordnung")

@main("Antrag") {
    <!-- Page Content -->
    <div class="container mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                        <!-- Breadcrumb navigation -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Startseite</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@pageTitle</li>
                        </ol>
                    </nav>

                        <!-- Page content -->
                    <h1 class="mt">@pageTitle</h1>

                    <br>
                    <p>Die Seite befindet sich im Aufbau...</p>
                </div>
            </div>
        </div>
    </div>

}