@import java.io.File
@(appreciation: Appreciation)(implicit requestHeader: RequestHeader, pageTitle: String = "Status", flash: Flash)

@import models.State._
@import models.Appreciation._

<div class="row">
    <div class="col-lg-12">
            <!-- Page content -->
        <div class="input-group mb-2 align-items-center">
            <h1 class="mr-3">@pageTitle von Antrag #@getString(appreciation, "id")</h1>
        </div>

        <br>
        <div class="alert @stateColor(appreciation.state, "alert")" role="alert">
            <h4 class="alert-heading">@getString(appreciation, "state")</h4>
            <p>@getDescription(appreciation)</p>
        </div>
    </div>
</div>